@model Kermesse_Proyect.Models.Opcion

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-11 mx-auto">
    <h2>Eliminar</h2>

    <h3>¿Esta seguro de eliminar esta Opción?</h3>
    <div>
        <h4>Opcion</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.opcionDescripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.opcionDescripcion)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                @Html.ActionLink("Regresar", "Index")
            </div>
        }
    </div>
</div>
